node_modules/
build/
.env
storage/libraries/*
storage/content/*
storage/temporary/*
!storage/libraries/.gitkeep
!storage/content/.gitkeep
!storage/temporary/.gitkeep
uploads/*
!uploads/.gitkeep
h5p/core/*
h5p/editor/*
!h5p/core/.gitkeep
!h5p/editor/.gitkeep
*.log
